<div>
    <ul>
        <li><a href="{{ path ('newType') }}">Create new pagetype</a></li>
        <li><a href="{{ path ('newPage') }}">Create mew page</a></li>
        <li><a href="{{ path ('regadmin') }}">Register new admin</a></li>
        <li><a href="{{ path ('showdb') }}">Show database</a></li>
    </ul>
</div>